@import url("https://fonts.googleapis.com/css2?family=Aptos:wght@400;700&display=swap");
@import '../css/navbar.css';
@import '../css/circle-style.css';
@import '../css/media-800.css';
body {
  background-color: #000000;
  color: white;
  font-family: "Aptos", sans-serif;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

button {
  margin: 0 20%;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}

.z-high {
  z-index: 50;
}

.p-top {
  padding-top: 40px;
}

.txt-main {
  color: #CB3F14;
}

.txt {
  color: white;
}

.landing-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.txt-home-add-on {
  color: #CB3F14;
  padding-left: 10px;
  border-bottom: solid 2px #CB3F14;
  font-size: larger;
}

.txt-home-title {
  position: relative;
  display: inline-block;
  background-color: #CB3F14;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  overflow: hidden;
  transform: skewY(-3deg);
}
.txt-home-title span {
  display: inline-block;
}

.home-txt {
  text-align: start;
  font-size: 40px;
  font-weight: bold;
}

.landing {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 2rem;
}

.landing img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.landing-img {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: flex-end;
}

.fixed-size img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.flex-display {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

#txt:hover {
  color: #CB3F14;
}

.home-btn-hover {
  display: inline-block;
  padding: 0.2rem 1rem;
  border: 2px solid white;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}
.home-btn-hover:hover {
  transform: scale(1.05);
  border-color: #CB3F14;
  color: #CB3F14;
}

.place-start {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.place-center {
  padding: 20px;
  text-align: center;
  justify-items: center;
}

.left-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.home-btm {
  background-color: #000000;
  position: fixed;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  bottom: 0;
  z-index: 10;
}

.content {
  position: relative;
  text-align: start;
  align-items: start;
  z-index: 5;
  height: 100vh;
  margin-top: 15%;
}

.circle-text {
  align-items: end;
  justify-items: end;
  display: grid;
  color: #CB3F14;
}

.home-icons {
  display: flex;
  gap: 20px;
  right: 50%;
  position: relative;
  margin-top: 550px;
}

.home-icon-hover {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: white;
}
.home-icon-hover:hover {
  transform: scale(1.05);
  color: #CB3F14;
}

@media (max-width: 800px) {
  .left-home,
  .right-home {
    width: 100%;
    left: 0%;
  }
  .home-txt {
    font-size: 50px;
  }
  .home-txt-p {
    font-size: 13px;
  }
  .content {
    right: 0;
    margin: 20px;
  }
  .landing-center {
    flex-direction: column;
  }
  .landing {
    margin-top: 10%;
  }
  .txt-home-add-on {
    padding-left: 5px;
    font-size: larger;
  }
  .txt-home-title {
    padding: 5px;
    font-size: larger;
  }
  .home-txt {
    font-size: larger;
  }
  .home-btn-hover {
    font-size: medium;
  }
  .place-start {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10%;
  }
}
.bounce {
  padding-inline: 15px;
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.border {
  display: flex;
  border: 2px solid #CB3F14;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 10px;
  width: 50px;
  background-color: #CB3F14;
}

@media (max-width: 500px) {
  .border {
    width: 40px;
  }
}
.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.section-description {
  text-align: justify;
  font-size: 0.9rem;
}
@media (min-width: 800px) {
  .section-description {
    font-size: 1.1rem;
  }
}

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}
.section-contact .contact-icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 900px) {
  .section-contact .contact-icons {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .section-contact .contact-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section-contact .contact-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.section-contact .contact-icons a:hover {
  transform: scale(1.25);
  color: #CB3F14;
}
.section-contact .contact-icons a:hover .contact-icon {
  color: #CB3F14;
}
.section-contact .contact-icons a .contact-icon {
  font-size: 2rem;
  color: white;
}
.section-contact .contact-icons a p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 600px) {
  .footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .footer-item {
  margin: 0.5rem 0;
}
.footer .footer-item p {
  margin: 0;
  font-size: 0.9rem;
}
.footer .footer-item p .footer-highlight {
  color: #CB3F14;
}
.footer .footer-item p a {
  color: #CB3F14;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer .footer-item p a:hover {
  color: #ee7a57;
}
.footer .footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer .footer-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.3s ease-in-out;
}
.footer .footer-icons a:hover {
  color: #CB3F14;
}
.footer .footer-icons a .footer-icon {
  font-size: 1.5rem;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 5%;
  font-weight: bold;
  color: #CB3F14;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.8s ease;
}

.scroll-to-top i {
  color: #CB3F14;
}

.scroll-to-top:hover {
  opacity: 0.8;
  color: #CB3F14;
}