
header {
    //these rules apply to the header tag
    flex-wrap: wrap;
    background-color: red;
    color: black;
    display: flex;
    justify-content: space-between;

    //these rules apply only to 
    //nav tags that descend from header tags
    nav{
        display: none;

        //these rules will apply to any ul tags
        //that descend from nav tags that decend from a header
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }        

        //these rules will apply to any a tags
        //that descend from nav tags that decend from a header
        a{
            display: block;
            line-height: 45px;
            padding: 0 16px;
            font-size: 1.3em;
        }
    }
}
